/* ==========================================*/
/* PC */
@media (min-width: 991px) {
    /* Estilos básicos */
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #000;
        color: #fff;
        display: flex;
        flex-direction: column; /* Apilar los elementos verticalmente */
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        padding: 20px;
        overflow: hidden; /* Evitar el scroll */
        background-image: url('../img/fondo.png'); /* Ruta de la imagen de fondo */
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir el área del fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }

    h1{
        color: #fff;
        margin-top: -100px;
    }   
    h2 {
        color: #fff;
        margin-top:100px;
    }

    .container {
        width: 80%;
        max-width: 1200px; /* Ajusta el ancho máximo si es necesario */
        margin: 0 auto;
    }

    .charts-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; /* Espacio entre los gráficos */
        width: 100%;
    }

    canvas {
        max-width: 800px; /* Ajusta el tamaño máximo si es necesario */
        max-height: 500px; /* Ajusta el tamaño máximo si es necesario */
    }

     /* Botón de Cerrar Sesión */
     .logout {
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: red;  
            color: white;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 10px;
            transition: transform 0.2s, box-shadow 0.2s;
        }

        .logout:hover {
            transform: scale(1.05);
        }
}